$pallete-primary: #709591;
$pallete-primary-light: rgba(111, 149, 145, 0.25);
$pallete-secondary: #ca583e;
$pallete-secondary-light: rgba(202, 88, 62, 0.25);
$pallete-background: #e6e9ef;
$pallete-fonts: #696666;
$pallete-fonts-light: #928c8c;
